* {
	scroll-behavior: smooth;
}

#divhead{
	color:white;
	text-align: center;
	background-color: #758AA8;
	padding: 10px;
}
h1,h2,h3,h4 {
	text-align: center;
}

h3{
	padding: 10px;
	background: #051A38;
	width: 40%;
	margin: 50px auto;
	color: white;
}
#navbar {text-align: center;}

#navbar a {
	padding: 15px 20px;
	color: white;
	font-size: 14px;
	border-radius: 0 10px;
	text-decoration: none;
	
}
#divnavbar {
	background:#2C4870;
	padding: 5px;
}
#navbar a:hover {
	color: #4C678C;
	border: 2px solid white;
	top: 5px;
}
#divexp, #divacerca{
	border: 2px solid black;
	
}
body {
	font-family: Verdana;
	background-color:white;
	color: #444;
	
}

ul li,li p {
	/*list-style: none;*/
	line-height: 30px;
	font-size: 15px;
}

p{
	margin-right: 10px;
	margin-left: 10px;
}

#fotoperfil {
	text-align: center;
}
