* {
	scroll-behavior: smooth;
	padding: 0;
}

#divhead{
	color:white;
	text-align: center;
	background-color: #758AA8;
	padding: 10px;
}
h1,h2,h3 {
	text-align: center;
}

h3{
	padding: 10px;
	background: #051A38;
	width: 40%;
	margin: 50px auto;
	color: white;
}
#navbar {text-align: center;}

#navbar a {
	padding: 15px 20px;
	color: white;
	font-size: 14px;
	border-radius: 0 10px;
	text-decoration: none;
	
}
#divnavbar {
	background:#2C4870;
	padding: 5px;
}
#navbar a:hover {
	color: #4C678C;
	border: 2px solid white;
	top: 5px;
}
#divexp, #divacerca,#divhabilidades,#divcontacto{
	border: 2px solid black;
	
}
body {
	font-family: Verdana;
	background-color:white;
	color: #444;
	
}

ul li,li p {
	text-align: center;
	line-height: 30px;
	font-size: 15px;
}

p{
	margin-right: 10px;
	margin-left: 10px;
}

#fotoperfil {
	text-align: center;
}


.habilidades{
	width: 500px;
	margin: 60px auto;
	color: white;
}

.habilidades li{
	margin-right: 10px;
	margin-left: 10px;
}
h4{
	margin-right: 10px;
	margin-left: 10px;

}
.barra{
	background: #353b48;
	display: block;
	height: 10px;
	border: 1px solid;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 10px;
	margin-left: 10px;
}

.barra span{
	height: 10px;
	float:  left;
	background: orange;
}

.html{
	width: 70%;
}
.css{
	width: 50%;
}
.python{
	width: 85%;
}

.form {
  width: 400px;
  background: #758AA8;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: Verdana;
  color: white;
  text-align: center;

}

.form h4 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: Verdana;
  font-size: 18px;
  color: white;
}

.form p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form a {
  color: white;
  text-decoration: none;
}

.form a:hover {
  color: white;
  text-decoration: underline;
}

.form .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  text-align: center;
}
.botons:hover{
	cursor: pointer;
  }

#links {
	text-align: center;
}

#carrusel{
	overflow: hidden;

}
#carrusel figure{
	position: relative;
	width: 600%;
	margin: 0;
	left: 0;
	animation: carrusel 25s linear infinite;
}
#slider figure img{
	width: 20%;
	float: left;
}

@keyframes carrusel{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}